.newHeader{
    background-image: url("/assets/images/mainbg2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-bottom: 20px;
    background-size: cover;
}
.newHeader .container-fluid{
    max-width: 1370px;
}
.bottomHeader{
    clear: both;
}
.bottomHeader .glanguage {
    margin-right: 5px;
}
.vendorIn{
    white-space: nowrap;
    height: 38px;
    padding-top: 7px;
    max-width: 150px;
}
.bottomHeader .glanguage .goog-te-gadget-simple{
    padding: 7px !important;
    border-radius: 4px;
}
.list-inline{
    display: inline-block;
    padding-top: 8px;
}
.list-inline li {
    float: left;
    padding: 0 12px;
}
.bottomHeader ul li{
    color: #fff;
    font-size: 15px;
}
.bottomHeader ul li:first-child{
    padding-top: 13px;
    padding-left: 22px;
}
.bottomHeader ul li a{
    font-size: 34px;
    color: #fce391;
}
.header-right{
    float: right;
    width: 100%;
    padding-top: 40px;
    margin: 0;
    padding-right: 25px;
}
.btn-primary{
    background: #fce391 !important;
    border: 1px solid #fce391 !important;
    color: #333;
}
.btn-primary:hover{
    background: #ffd754 !important;
    border: 1px solid #ffd754 !important;
    color: #333;
}
@media (min-width: 1px) and (max-width: 767px){
.hidden-xs{
    display: none;
}
.newHeader{
    padding-top: 5px;
}
.phoneHeader .Logo img{
    max-width: 93px;
}
.phoneHeader .mainCaption img{
    max-width: 200px;
}
.phoneHeader .mainCaption h3{
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 0;
}
.phoneHeader .mainCaption h4{
    font-size: 12px;
}
.phoneHeader .header__middle{
    padding-top: 0;
    padding-left: 20px;
}
.phoneHeader .header__middle__menus{
    width: 10%;
}
.phoneHeader .main-nav .menubar__button{
    padding-bottom: 0px;
    background: #fff;
    font-size: 19px;
    margin-top: 7px;
}
.phoneHeader .main-nav .menubar__button svg{
    stroke: #59071d;
}
.phoneHeader .countryflag {
  margin-right: 0;
  padding-top: 5px;
}
.phoneHeader .vendorIn {
  white-space: nowrap;
  height: unset;
  padding: 6px 10px;
  text-align: center;
  font-size: 11px;
  margin-top: 8px;
  float: right;
}
.countryflag ul li a{
    font-size: 11px !important;
}
.main-nav .menubar__button:hover{
    background: #fff !important;
}
.openNav{
    color: #fff;
    position: absolute;
    left: 57px;
    margin-top: 11px;
}
.main-nav ul.menuq2{
    background: transparent !important;
    border: none !important;
    position: relative !important;
}
.main-nav .menu-item a{
    margin:  0 !important;
    padding: 7px 22px 10px 0px !important;
    font-size: 13px !important;
    line-height: 13px !important;
}
.main-nav .menu-item a img{
    display: none;
}
.main-nav .menu-item:hover > a{
    color: #fff !important;
}
}
@media (min-width: 768px) and (max-width: 4000px){
.hidden-lg{
    display: none;
} 
}