/*@font-face {
  font-family: "Hurme Geometric Sans No.1";
  src: url('../fonts/HurmeGeometricSans1 Hairline.OTF');
  font-family: normal;
}
@font-face {
  font-family: "Hurme Geometric Sans No.1";
  src: url('../fonts/HurmeGeometricSans1 HairlineOblique.OTF');
  font-family: normal;
}
@font-face {
  font-family: 'Lato', sans-serif;
  src: url('../fonts/Lato-Black.TTF');
  font-weight: 400;
}
@font-face {
  font-family: 'Lato', sans-serif;
  src: url('../fonts/Lato-BlackItalic.TTF');
  font-family: normal;
}*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,400&family=Poppins:wght@200;400&display=swap');
.mainheader{
	background-image: linear-gradient(to bottom, #800020e6 0%,#800020e6 100%), url("http://localhost:3000/assets/images/headerbg.jpg");
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-bottom: 20px;
}
.mainlogo img {
    max-width: 100%;
}
.topcenter{
	text-align: center;
	margin: 0 auto;
	display: block;
}
.textlogo img {
    max-width: 70%;
}
.discountline {
    font-size: 20px;
    color: #fff;
    line-height: 40px;
    letter-spacing: .5px;
    font-family: 'Lato';
    margin-top: 15px;
}
.savemore {
    font-size: 24px;
    color: #F3C33B;
    line-height: 32px;
    letter-spacing: .5px;
    margin-top: 10px;
    font-family: "Hurme Geometric Sans 1", sans-serif;
}
.topmenu {
    width: 100%;
    display: inline-flex;
}
.clickable p {
    font-family: 'Poppins';
    font-weight: 400;
    color: #F3C33B;
    font-size: 13px;
    text-align: center;
    width: 110px;
    display: block;
    text-transform: uppercase;
    margin-bottom: 4px;
}
.clickable a {
    color: #D0CAC7;
    text-align: center;
    display: block;
    font-size: 13px;
    font-family: 'Poppins';
}
.socialmenu a i {
    color: #F3C33B;
    font-size: 20px;
    padding: 0 20px;
}
.socialmenu {
    text-align: center;
    margin-top: 18px;
}
.searchbar {
    margin-top: 20px;
    position: relative;
}
.searchbar input {
    border-radius: 50px;
    height: 50px;
    padding: 0 20px;
}
.searchbar .InputGroup #search {
    position: absolute;
    top: 7.5px;
    right: 10px;
    border-radius: 50px;
}
.searchbar .btn-primary {
    background-color: #70081C !important;
    border-color: #70081C !important;
}
.topright {
    text-align: center;
}
.language-country {
    display: inline-flex;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 28px;
    float: right;
}
.language-country .language {
    width: 50%;
    margin-right: 30px;
}
.language-country select {
    font-size: 14px;
    width: auto;
}
.language-country .country {
    width: 50%;
}
.categorymenu a {
    display: block;
    text-align: left;
    color: #fff;
    font-size: 13px;
}
.categorymenu a img {
    display: block;
}
.mmenu{
	position: relative;
	z-index: 9999;
	top:10px;
}
.mmenu .navbar-nav .nav-link {
    color: #fff;
    font-size: 12px;
    padding: 0;
    margin-right: 25px;
    text-align: center;
}
.mmenu .navbar-nav .nav-link img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}
.mmenu .navbar-nav li.dropdown.nav-item .btn-secondary img{
	display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}
.mmenu .navbar-nav li.dropdown.nav-item .btn-secondary {
    padding: 0;
    background-color: #0000 !important;
    border-color: #0000 !important;
    font-size: 12px;
}
.countryflag ul li {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}
.countryflag ul li a {
    display: grid;
    font-size: 12px;
    color: #fff;
}
.countryflag ul li a img {
    max-width: 34px;
    height: auto;
    margin-bottom: 5px;
}
.countryflag {
    position: relative;
    top: 17px;
}
.mainfooter{
	background-image: linear-gradient(to bottom, #800020e6 0%,#800020e6 100%), url("http://localhost:3000/assets/images/footerbg.jpg");
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 30px;
    padding-bottom: 10px;
    margin-top: 40px;
}
.copyright {
    padding-top: 20px;
}
.copyright p {
    text-align: center;
    font-size: 15px;
    color: #F3C33B;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    margin-bottom: 0;
}
.footercategory {
    text-align: center;
}
.footercategory ul li a {
    color: #F3C33B;
    font-size: 15px;
    line-height: 26px;
}
.mainfooter .socialmenu {
    margin-top: 30px;
}
.hotdeals h1 {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
    font-weight: 400;
    line-height: 49px;
    font-size: 37px;
    color: #70081C;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}
.page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper .logo-wrapper {
    background: #70081c !important;
    padding-left: 10px;
    padding-right: 50px;
}
.toggle-sidebar svg{
	color: #fff;
}
.toggle-sidebar {
    position: absolute;
    right: 15px;
    top: 26px;
    cursor: pointer;
}
.toggle-sidebar svg:hover {
    color: #fff !important;
}
.page-wrapper .sidebar-main-title h6{
	color: #70081c;
}
.page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper .sidebar-main .sidebar-links > li:hover .sidebar-link:not(.active):hover span{
	color: #70081c;
}
.page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper .sidebar-main .sidebar-links > li:hover .sidebar-link:not(.active):hover .according-menu i{
	color: #111;
}
.page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper .sidebar-main .sidebar-links > li:hover .sidebar-link:not(.active):hover svg{
	color: #F3C33B;
	stroke:#70081c;
}
.font-primary{
	color: #70081c !important;
}
.card .card-header .card-header-right .card-option li:first-child i{
	color: #70081c;
}
.offer-box .offer-slider {
    background: linear-gradient(
26deg, #70081c 0%, #b10c2c 100%);
}
.btn-gradient {
    background: linear-gradient(
26deg, #70081c 0%, #70081c 100%);
    letter-spacing: 0.06rem;
}
.total-users .goal-status .progress-gradient-primary {
    border-radius: 15%;
    background-image: linear-gradient(to right, transparent 25%, rgba(169, 39, 249, 0.1), #70081c);
}
.pill-badge-primary {
    background-color: #70081c;
}
.ecommerce-widgets .ecommerce-box.light-bg-primary {
    background-color: rgb(255 226 141 / 38%);
}
.ecommerce-widgets .fa-heart {
    background: linear-gradient(to right, #70081c 10%, #f12149 100%);
    font-size: 24px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 2px;
}
.progress-gradient-primary {
    background-image: linear-gradient(to right, transparent, #70081c);
    position: relative;
}
.badge-primary {
    background-color: #70081c !important;
}