/*@font-face {
  font-family: "Hurme Geometric Sans No.1";
  src: url('../fonts/HurmeGeometricSans1 Hairline.OTF');
  font-family: normal;
}
@font-face {
  font-family: "Hurme Geometric Sans No.1";
  src: url('../fonts/HurmeGeometricSans1 HairlineOblique.OTF');
  font-family: normal;
}
@font-face {
  font-family: 'Lato', sans-serif;
  src: url('../fonts/Lato-Black.TTF');
  font-weight: 400;
}
@font-face {
  font-family: 'Lato', sans-serif;
  src: url('../fonts/Lato-BlackItalic.TTF');
  font-family: normal;
}*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,400&family=Poppins:wght@200;400&display=swap');
.mainheader{
	background-image: linear-gradient(to bottom, #800020e6 0%,#800020e6 100%), url("http://localhost:3000/assets/images/headerbg.jpg");
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-bottom: 20px;
}
.mainlogo img {
    max-width: 100%;
}
.topcenter{
	text-align: center;
	margin: 0 auto;
	display: block;
}
.textlogo img {
    max-width: 70%;
}
.discountline {
    font-size: 20px;
    color: #fff;
    line-height: 40px;
    letter-spacing: .5px;
    font-family: 'Lato';
    margin-top: 15px;
}
.savemore {
    font-size: 24px;
    color: #F3C33B;
    line-height: 32px;
    letter-spacing: .5px;
    margin-top: 10px;
    font-family: "Hurme Geometric Sans 1", sans-serif;
}
.topmenu {
    width: 100%;
    display: inline-flex;
}
.clickable p {
    font-family: 'Poppins';
    font-weight: 400;
    color: #F3C33B;
    font-size: 13px;
    text-align: center;
    width: 110px;
    display: block;
    text-transform: uppercase;
    margin-bottom: 4px;
}
.clickable a {
    color: #D0CAC7;
    text-align: center;
    display: block;
    font-size: 13px;
    font-family: 'Poppins';
}
.socialmenu a i {
    color: #F3C33B;
    font-size: 20px;
    padding: 0 20px;
}
.socialmenu {
    text-align: center;
    margin-top: 18px;
}
.searchbar {
    margin-top: 20px;
    position: relative;
}
.searchbar input {
    border-radius: 50px;
    height: 50px;
    padding: 0 20px;
}
.searchbar .InputGroup #search {
    position: absolute;
    top: 7.5px;
    right: 10px;
    border-radius: 50px;
}
.searchbar .btn-primary {
    background-color: #70081C !important;
    border-color: #70081C !important;
}
.topright {
    text-align: center;
}
.language-country {
    display: inline-flex;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 28px;
    float: right;
}
.language-country .language {
    width: 50%;
    margin-right: 30px;
}
.language-country select {
    font-size: 14px;
    width: auto;
}
.language-country .country {
    width: 50%;
}
.categorymenu a {
    display: block;
    text-align: left;
    color: #fff;
    font-size: 13px;
}
.categorymenu a img {
    display: block;
}
.mmenu{
	position: relative;
	z-index: 9999;
	top:10px;
}
.mmenu .navbar-nav .nav-link {
    color: #fff;
    font-size: 12px;
    padding: 0;
    margin-right: 25px;
    text-align: center;
}
.mmenu .navbar-nav .nav-link img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}
.mmenu .navbar-nav li.dropdown.nav-item .btn-secondary img{
	display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}
.mmenu .navbar-nav li.dropdown.nav-item .btn-secondary {
    padding: 0;
    background-color: #0000 !important;
    border-color: #0000 !important;
    font-size: 12px;
}
.countryflag ul li {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}
.countryflag ul li a {
    display: grid;
    font-size: 12px;
    color: #fff;
}
.countryflag ul li a img {
    max-width: 34px;
    height: auto;
    margin-bottom: 5px;
}
.countryflag {
    position: relative;
    top: 17px;
}
.mainfooter{
	background-image: linear-gradient(to bottom, #800020e6 0%,#800020e6 100%), url("http://localhost:3000/assets/images/footerbg.jpg");
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 30px;
    padding-bottom: 10px;
    margin-top: 40px;
}
.copyright {
    padding-top: 20px;
}
.copyright p {
    text-align: center;
    font-size: 15px;
    color: #F3C33B;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    margin-bottom: 0;
}
.footercategory {
    text-align: center;
}
.footercategory ul li a {
    color: #F3C33B;
    font-size: 15px;
    line-height: 26px;
}
.mainfooter .socialmenu {
    margin-top: 30px;
}
.hotdeals h1 {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 15px;
    font-weight: 400;
    line-height: 49px;
    font-size: 37px;
    color: #70081C;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}
.react-multiple-carousel__arrow--right {
    right: calc(4% + -45px) !important;
}
.react-multiple-carousel__arrow--left {
    left: calc(4% + -45px) !important;
}
.react-multiple-carousel__arrow::before {
    font-size: 30px !important;
    color: #70081C !important;
    display: block;
    font-family: revicons;
    text-align: center;
    z-index: 2;
    position: relative;
    font-weight: 600 !important;
}
.react-multiple-carousel__arrow{
	background: rgb(0 0 0 / 0%) !important;
}
.customcard .card {
    margin-bottom: 30px;
    border: 1px solid #dbdbdb;
    transition: all 0.3s ease;
    letter-spacing: 0.5px;
    border-radius: 0;
    box-shadow: 0 0 20px rgb(8 21 66 / 5%);
}
.customcard .card .card-body{
	padding: 30px;
}
.customcard h5.card-title a{
    font-size: 15px;
    font-weight: 400;
    font-family: 'Poppins';
    color: #FF0000;
    margin-bottom: 7px;
    margin-top: 20px;
}
.customcard p.card-text {
    font-size: 13px;
    color: #000;
    font-family: 'Poppins';
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn-secondary {
    background-color: #70081C !important;
    border-color: #70081C !important;
    border-radius: 50px;
    font-size: 19px;
    font-family: 'Lato';
    padding: 2px 22px;
    display: block;
    margin: 0 auto;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active{
	background-color: #a90f2d !important;
    border-color: #a90f2d !important;
}
.ribbon {
    margin: auto 0 0 auto;
    width: 110px;
    height: 110px;
    display: block;
    position: absolute;
    overflow: hidden;
    left: auto;
    right: 0;
    top: 0;
    z-index: 0;
}
.ribbon p {
  width: 150px;
  height: 34px;
  top: 20px;
  right: -40px;
  position: absolute;
  display: block;
  background: #FF0000;
  color: #333;
  font-family: arial;
  font-size: 18px;
  color:white;
  text-align: center;
  line-height: 34px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}
.seeall {
    text-align: right;
    padding-right: 15px;
    margin-bottom: 15px;
}
.seeall a {
    color: #0000FF;
    font-size: 19px;
    font-family: 'Lato';
    text-decoration: underline;
}
.advertise h2 {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
    font-weight: 400;
    line-height: 49px;
    font-size: 37px;
    color: #70081C;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}
.advertise .col-sm-6 {
    max-width: 42%;
}
.advertise .col-sm-3 {
    min-width: 29% !important;
}
.advertise-gridlarg {
    background-image: url(http://localhost:3000/assets/images/adlargbg.png);
    width: 100%;
    height: auto;
    background-position: center right;
    background-repeat: no-repeat;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid #dbdbdb;
}
.advertise-gridlarg .addname {
    text-align: right;
    font-size: 37px;
    color: #70081C;
    font-family: 'Poppins';
}
.advertise-gridlarg .addname {
    text-align: left;
    font-size: 26px;
    color: #70081C;
    font-family: 'Poppins';
    max-width: 29%;
    margin: auto 0 0 auto;
    line-height: 36px;
    margin-bottom: 50px;
}
.advertise-gridlarg .btn-secondary {
    text-transform: uppercase;
    margin: 0 35px 0px auto;
}
.advertise-gridsmall {
    background-image: url(http://localhost:3000/assets/images/adsmallbg.png);
    width: 100%;
    height: auto;
    background-position: left;
    background-repeat: no-repeat;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid #dbdbdb;
}
.advertise-gridsmall .addname {
    text-align: right;
    font-size: 37px;
    color: #70081C;
    font-family: 'Poppins';
}
.advertise-gridsmall .addname {
    text-align: left;
    font-size: 26px;
    color: #70081C;
    font-family: 'Poppins';
    max-width: 33%;
    margin: auto 0 0 auto;
    line-height: 36px;
    margin-bottom: 50px;
}
.advertise-gridsmall .btn-secondary {
    text-transform: uppercase;
    margin: 0 20px 0px auto;
}
.latestadditions{
	background-image: linear-gradient(to bottom, #800020e6 0%,#800020e6 100%), url("http://localhost:3000/assets/images/latestbg.jpg");
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 40px;
}
.latestadditions h3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 400;
    line-height: 49px;
    font-size: 37px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}
.latestadditions .seeall a {
    color: #fff;
}
.latestadditions .customcard .card-subtitle {
    font-size: 13px;
    font-family: 'Lato';
    color: #70081C !important;
    line-height: 17px;
}
.latestadditions .btn-secondary {
    margin-top: 20px;
}
.homeblog{
	margin-top: 35px;
}
.homeblog h1 {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 15px;
    font-weight: 400;
    line-height: 49px;
    font-size: 37px;
    color: #70081C;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}
.homeblog .customcard .card .card-body {
    padding: 10px;
}
.homeblog .customcard h5.card-title{
	color: #70081C;
    font-family: 'Lato';
    text-transform: uppercase;
    font-size: 19px;
}
.homeblog .customcard .card-subtitle {
    font-size: 11px;
    font-family: 'Lato';
    color: #7d7d7d !important;
    line-height: 17px;
}
.homeblog .customcard p.card-text{
	font-size: 15px;
	line-height: 26px;
	color: #000;
}
.homeblog .customcard p.card-text a.readmore{
	color: #70081C;
    font-size: 11px;
    font-family: 'Lato';
    float: right;
    text-decoration: underline;
}
.scrolltopbtn svg {
    position: absolute;
    right: 60px;
    bottom: 80px;
    font-size: 45px;
    color: #F3C33B;
    cursor: pointer;
}
.resturentlist h1 {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 10px;
    font-weight: 400;
    line-height: 49px;
    font-size: 37px;
    color: #70081C;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}
.hr {
    text-align: center;
}
.hr img {
    max-width: 40%;
    margin-bottom: 50px;
}
.customcardlist .card {
    margin-bottom: 30px;
    border: 1px solid #dbdbdb;
    transition: all 0.3s ease;
    letter-spacing: 0.5px;
    border-radius: 12px;
    box-shadow: 0px 3px 9px #00000047;
}
.customcardlist .card .card-body {
    padding: 0;
}
.customcardlist .card .card-body img{
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}
.customcardlist h5.card-title {
    font-family: 'Poppins';
    font-weight: 400;
    color: #000;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
}
.customcardlist .btn-secondary {
    margin-bottom: 20px;
    margin-top: 30px;
}
.page-link{
	color: #000;
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #70081c;
    border-color: #70081c;
}
.page-link:hover {
    z-index: 2;
    color: #fff;
    text-decoration: none;
    background-color: #70081c;
    border-color: #70081c;
}
.page-link{
	border: 1px solid #70081c;
}
.detailpage {
    margin-top: 50px;
}
.address {
    padding-top: 30px;
}
.address h3 {
    text-align: center;
    font-family: 'Poppins';
    color: #70081C;
    margin-bottom: 15px;
}
.address p {
    text-align: center;
    margin-bottom: 7px;
    font-size: 18px;
    color: #222;
    font-family: 'Poppins';
}
.address p b {
    color: #000;
}
.unitedtab {
    margin-top: 40px;
}
.unitedtab .react-tabs__tab-list li img {
    max-width: 45%;
}
.unitedtab .react-tabs__tab {
    cursor: pointer;
    max-width: 13%;
    margin: 0 auto;
    text-align: center;
    padding: 10px 12px;
}
.unitedtab .react-tabs__tab--selected {
    background: #fff;
    border-color: #f1f1f1;
    color: #000;
    border-radius: 4px;
    box-shadow: 0px 3px 9px #00000047;
}
.unitedtab .react-tabs__tab-list {
    border-bottom: none;
    margin: 0 0 20px;
    padding: 0;
    text-align: center;
}
.unitedtab .react-tabs__tab-list li h5 {
    font-family: 'Poppins';
    font-size: 17px;
    margin-bottom: 0;
    padding: 8px 0 0;
    color: #222;
}
.unitedtab .react-tabs__tab-panel {
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    padding: 15px;
}
.unitedtab .react-tabs__tab-panel h2 {
    font-size: 22px;
    font-family: 'Poppins';
    color: #000;
}
.unitedtab .react-tabs__tab-panel p {
    font-size: 15px;
    font-family: 'Poppins';
    color: #222;
    line-height: 26px;
    margin-bottom: 0;
}
.btn-secondary a {
    color: #fff;
}
.page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper .logo-wrapper {
    background: #70081c !important;
    padding-left: 10px;
    padding-right: 50px;
}
.toggle-sidebar svg{
	color: #fff;
}
.toggle-sidebar {
    position: absolute;
    right: 15px;
    top: 26px;
    cursor: pointer;
}
.toggle-sidebar svg:hover {
    color: #fff !important;
}
.page-wrapper .sidebar-main-title h6{
	color: #70081c;
}
.page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper .sidebar-main .sidebar-links > li:hover .sidebar-link:not(.active):hover span{
	color: #70081c;
}
.page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper .sidebar-main .sidebar-links > li:hover .sidebar-link:not(.active):hover .according-menu i{
	color: #111;
}
.page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper .sidebar-main .sidebar-links > li:hover .sidebar-link:not(.active):hover svg{
	color: #F3C33B;
	stroke:#70081c;
}
.font-primary{
	color: #70081c !important;
}
.card .card-header .card-header-right .card-option li:first-child i{
	color: #70081c;
}
.offer-box .offer-slider {
    background: linear-gradient(
26deg, #70081c 0%, #b10c2c 100%);
}
.btn-gradient {
    background: linear-gradient(
26deg, #70081c 0%, #70081c 100%);
    letter-spacing: 0.06rem;
}
.total-users .goal-status .progress-gradient-primary {
    border-radius: 15%;
    background-image: linear-gradient(to right, transparent 25%, rgba(169, 39, 249, 0.1), #70081c);
}
.pill-badge-primary {
    background-color: #70081c;
}
.ecommerce-widgets .ecommerce-box.light-bg-primary {
    background-color: rgb(255 226 141 / 38%);
}
.ecommerce-widgets .fa-heart {
    background: linear-gradient(to right, #70081c 10%, #f12149 100%);
    font-size: 24px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 2px;
}
.progress-gradient-primary {
    background-image: linear-gradient(to right, transparent, #70081c);
    position: relative;
}
.badge-primary {
    background-color: #70081c !important;
}
.rolling h1{
    font-size: 16px;
    margin-bottom: 10px;
}
.rolling h2{
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 30px;
}
.rolling span{
    margin-bottom: 15px;
    background: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
    display: block;
    border: 1px solid #ddd;
}
table th, table td{
    vertical-align: middle !important;
}
.color-maroon{
    color: #d63340;
}