/node_modules
/backend/node_modules
/backend/config/database.js
/backend/config/config.json
/client/node_modules
/server/node_modules
/client/build/
.DS_Store
backend/config/config.json
backend/config/database.js
client/package-lock.json
backend/package.json
backend/uploads
package-lock.json